In [432]:
import pandas as pd 
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [433]:
df['temperature'][df['event']=='Snow']

2    28
3    24
Name: temperature, dtype: int64

In [434]:
c = df['windspeed'][df['event']=='Sunny']
print("average windspeed in sunny day is: ", c.mean(), "km/h")

average windspeed in sunny day is:  4.5 km/h

In [435]:
rows, columns = df.shape
rows, columns
df.head(4)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

In [436]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [437]:
df[2:3]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow

In [438]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [439]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [440]:
type(df['event'])
df[['event','day']][df['event']=='Rain']

  event       day
0  Rain  1/1/2017
4  Rain  1/5/2017

In [441]:
df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [442]:
[df.temperature>=32]

[0     True
 1     True
 2    False
 3    False
 4     True
 5    False
 Name: temperature, dtype: bool]

In [443]:
df[df.temperature==df['temperature'].max()]# okreslone zostalo wypisanie max temp z pokazaniem jak sie nazywa kolumna w ktorej szukac czasem sa spacje dlatego tak sie robi

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [444]:
df.index
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [445]:
df.set_index('day',inplace = True)# inplace = true zamienia docelowo tabele na taka o indeksie ustalonym przez puierwsza zmianna w nawiasi

In [446]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [447]:
df.loc['1/1/2017']

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [448]:
df.reset_index(inplace=True)

In [449]:
df.set_index('event',inplace=True)
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [450]:
df.loc['Sunny']

            day  temperature  windspeed
event
Sunny  1/2/2017           35          7
Sunny  1/6/2017           31          2