In [195]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn import linear_model 
from sklearn.datasets import load_digits

In [196]:
df = pd.read_csv('titanic.csv')
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [197]:
mediano = df.Age.median()
df['Age'] = df['Age'].fillna(mediano)

In [198]:
Y = df.Survived
X = df.drop(['Survived','Ticket','Name','Cabin','SibSp','Parch','PassengerId'],axis = 'columns')
X.head(8)

   Pclass     Sex   Age     Fare Embarked
0       3    male  22.0   7.2500        S
1       1  female  38.0  71.2833        C
2       3  female  26.0   7.9250        S
3       1  female  35.0  53.1000        S
4       3    male  35.0   8.0500        S
5       3    male  28.0   8.4583        Q
6       1    male  54.0  51.8625        S
7       3    male   2.0  21.0750        S

In [199]:
from sklearn.preprocessing import LabelEncoder
le_Pclass = LabelEncoder()
le_Sex = LabelEncoder()
le_Age	= LabelEncoder()
le_Fare	= LabelEncoder()
le_Embarked = LabelEncoder()

In [200]:
X['Pclass_n'] = le_Pclass.fit_transform(X['Pclass'])
X['Sex_n'] = le_Pclass.fit_transform(X['Sex'])
X['Age_n'] = le_Pclass.fit_transform(X['Age'])
X['Fare_n'] = le_Pclass.fit_transform(X['Fare'])
X['Embarked_n'] = le_Pclass.fit_transform(X['Embarked'])
X = X.drop(['Pclass','Sex','Age','Fare','Embarked'],axis = 'columns')
X

     Pclass_n  Sex_n  Age_n  Fare_n  Embarked_n
0           2      1     28      18           2
1           0      0     51     207           0
2           2      0     34      41           2
3           0      0     47     189           2
4           2      1     47      43           2
..        ...    ...    ...     ...         ...
886         1      1     35      85           2
887         0      0     24     153           2
888         2      0     36     131           2
889         0      1     34     153           0
890         2      1     42      30           1

[891 rows x 5 columns]

In [201]:
from sklearn import tree
from sklearn.model_selection import train_test_split
model = tree.DecisionTreeClassifier()

In [202]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y,test_size=0.2)

In [203]:
model.fit(X_train,Y_train)

DecisionTreeClassifier()

In [204]:
model.predict(X_test)

array([0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 0, 0], dtype=int64)

In [205]:
model.score(X_test,Y_test)

0.8044692737430168