In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [8]:
df = pd.read_csv('homeprices_banglore.csv')
df.head()

   area  bedrooms   price
0  1056         2   39.07
1  2600         4  120.00
2  1440         3   62.00
3  1521         3   75.00
4  1200         2   51.00

In [9]:
# !pip install --upgrade scikit-learn scipy

from sklearn import preprocessing
# X = df.drop(['price'],axis = 1)

In [10]:
#dssds

In [11]:
import tensorflow.keras

ModuleNotFoundError: No module named 'tensorflow'